.home-page {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    .input-sec {
        width: 70%;
        position: relative;
        margin-bottom: 1rem;
    }
}

@include sm {
    .home-page {
        .input-sec {
            margin-bottom: 0;
        }
    }
}

@include md {
    .home-page {
        .input-sec {
            margin-bottom: 1rem;
        }
    }
}

@include xxl {
    .home-page {
        padding: 2rem;
    }
}