$theme-colors: ( "rotem":#ff0000, "secondary":#494945, "dark":#494948, "light":#f8f9fa);
// LAYOUT BREAKPOINTS
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
// colors
$dark-bg: #2d2d2d;
$light-bg:#f1f1f1;
$dark-cmp-bg:#494948;
$light-cmp-bg:#f8f9fa;